## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
g_key ="AIzaSyAUFbHQnjynkMQ3Mblsy0wGY7zL_qUvY8M"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weather_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Wanning,18.8003,110.3967,68.47,81,91,8.41,CN,overcast clouds
1,1,Saint-Augustin,51.2260,-58.6502,29.59,83,18,6.67,CA,few clouds
2,2,Beloha,-25.1667,45.0500,82.02,58,5,16.22,MG,clear sky
3,3,Nikolskoye,59.7035,30.7861,40.91,68,100,9.48,RU,overcast clouds
4,4,Hobart,-42.8794,147.3294,59.25,81,75,5.75,AU,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_dest_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Max Temp"] < max_temp)]
preferred_dest_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
2,2,Beloha,-25.1667,45.0500,82.02,58,5,16.22,MG,clear sky
6,6,Rikitea,-23.1203,-134.9692,77.49,63,24,10.45,PF,few clouds
14,14,Port Alfred,-33.5906,26.8910,70.18,82,0,7.00,ZA,clear sky
15,15,Sulangan,11.1373,123.7228,81.54,82,100,18.19,PH,light rain
16,16,Hambantota,6.1241,81.1185,80.67,75,59,4.70,LK,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_dest_df.count()

Unnamed: 0             231
City                   231
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Country                227
Weather Description    231
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_dest_df.dropna()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
2,2,Beloha,-25.1667,45.0500,82.02,58,5,16.22,MG,clear sky
6,6,Rikitea,-23.1203,-134.9692,77.49,63,24,10.45,PF,few clouds
14,14,Port Alfred,-33.5906,26.8910,70.18,82,0,7.00,ZA,clear sky
15,15,Sulangan,11.1373,123.7228,81.54,82,100,18.19,PH,light rain
16,16,Hambantota,6.1241,81.1185,80.67,75,59,4.70,LK,broken clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Jertih,5.7336,102.4897,77.09,90,100,4.29,MY,overcast clouds
672,672,Matara,5.9485,80.5353,78.40,84,24,2.86,LK,few clouds
674,674,Narsipatnam,17.6667,82.6167,80.31,76,20,3.80,IN,few clouds
677,677,Ramanathapuram,9.3833,78.8333,84.97,66,20,14.58,IN,few clouds
682,682,Bac Lieu,9.2850,105.7244,80.31,78,80,13.42,VN,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_dest_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Beloha,MG,82.02,clear sky,-25.1667,45.0500,
6,Rikitea,PF,77.49,few clouds,-23.1203,-134.9692,
14,Port Alfred,ZA,70.18,clear sky,-33.5906,26.8910,
15,Sulangan,PH,81.54,light rain,11.1373,123.7228,
16,Hambantota,LK,80.67,broken clouds,6.1241,81.1185,
18,East London,ZA,76.14,clear sky,-33.0153,27.9116,
20,Saint-Philippe,RE,80.19,overcast clouds,-21.3585,55.7679,
21,Kapaa,US,73.11,scattered clouds,22.0752,-159.3190,
22,Kruisfontein,ZA,72.88,clear sky,-34.0033,24.7314,
24,Tautira,PF,81.61,light rain,-17.7333,-149.1500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params['location'] = f'{lat},{lng}'
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Beloha,MG,82.02,clear sky,-25.1667,45.0500,
6,Rikitea,PF,77.49,few clouds,-23.1203,-134.9692,People ThankYou
14,Port Alfred,ZA,70.18,clear sky,-33.5906,26.8910,The Halyards Hotel
15,Sulangan,PH,81.54,light rain,11.1373,123.7228,Maia's Beach Resort
16,Hambantota,LK,80.67,broken clouds,6.1241,81.1185,Bungalow 63
...,...,...,...,...,...,...,...
671,Jertih,MY,77.09,overcast clouds,5.7336,102.4897,One Utama Hotel
672,Matara,LK,78.40,few clouds,5.9485,80.5353,Amaloh Boutique Resort
674,Narsipatnam,IN,80.31,few clouds,17.6667,82.6167,Lodge Vooda Residency AC
677,Ramanathapuram,IN,84.97,few clouds,9.3833,78.8333,Golden Residency
682,Bac Lieu,VN,80.31,broken clouds,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} at {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))